SUPABASE_URL=https://cnoqfafnapktqrahuspu.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNub3FmYWZuYXBrdHFyYWh1c3B1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MzIxMjkyMywiZXhwIjoyMDY4Nzg4OTIzfQ.R7L940W6O11dtLxZRHvk0p9GKrNxZw4l6HuudIbPAhE
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNub3FmYWZuYXBrdHFyYWh1c3B1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMyMTI5MjMsImV4cCI6MjA2ODc4ODkyM30.T0SMP4Ho9bdtEDvdd5IPT9za3PjyznkhYz0HkdXYWYI
JWT_SECRET=QSix3hkswoZThJ5rnBnphxjUDkd/x6adYtsva19jGM7UX2aYNNv0q8mdy+PjcW5h/s//W9Lo+BASVpUWezG0/g==
